@{
    ViewData["Title"] = "Catalog list";
}

<div>
    <h1>Catalog list</h1>
    <hr>
    @{
        IReadOnlyList<Sku>? catalog = (IReadOnlyList<Sku>?)@ViewData["Catalog"];
        if (catalog != null)
        {
            @foreach (var item in catalog)
            {
                <div>Id: @item.Id; Name: @item.Name; <img src="@item.Picture" alt="sku picture" width="100"/></div>
            }
        }
    }
</div>