@{
    ViewData["Title"] = "Creating SKU";
}

<form method="post">
    Id: <input type="text" name="id" required />
    <br />
    Name: <input type="text" name="name" />
    <br />
    Picture: <input type="text" name="picture" />
    <br />
    <input type="submit" name="Submit" value="Create" />
</form>