<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IPumpnService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:59329/PumpService.svc" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IPumpnService" contract="PumpServiceReference.IPumpnService"
                name="WSDualHttpBinding_IPumpnService">
                <identity>
                    <userPrincipalName value="DESKTOP-6DH4OOP\GeekDracur" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>